.contenedor_slider_principal {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.contenedor_slider_items {
    display: flex;
    width: 300%;
}

.slider_item_principal {
    position: relative;
    width: 100%;
}

.slider_principal_imagen {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider_principal_boton {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ffa03d;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.slider_principal_boton i {
    font-size: 20px;
    color: white;
}

.slider_principal_boton:hover {
    background-color: #009eff;
}

.slider_principal_boton:hover i {
    color: white;
}

#boton_izquierdo_slider_principal {
    left: 10px;
}

#boton_derecho_slider_principal {
    right: 10px;
}


@media (max-width: 500px) {

    .slider_principal_boton {
        width: 25px;
        height: 25px;

    }

    .slider_principal_boton i {
        font-size: 15px;
    }
}